.mt-10 {
    margin-top: 20px;
}

.about-wrap {
    .van-panel__content {
        padding: 13px;
        font-size: 12px;
    }
    .van-panel__footer {
        text-align: right;
    }
}

.about-detail-wrap {
    padding-top: 1.22667rem;
}
